<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" *ngIf="!authService.isAuthenticated()" routerLink="/check-in">Registro</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link fs-5" *ngIf="authService.hasRole('ROLE_USER')" routerLink="/clientes">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" *ngIf="authService.hasRole('ROLE_ADMIN')" routerLink="/usuarios">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" *ngIf="authService.hasRole('ROLE_ADMIN')" routerLink="/costos">Precios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" *ngIf="authService.hasRole('ROLE_ADMIN')" routerLink="/bitacora">Bitácoras</a>
        </li>
        <li class="nav-item" style="margin-left: 80px;">
          <button *ngIf="authService.hasRole('ROLE_ADMIN')" (click)="exportarBaseDatos()" class="btn btn-primary" type="submit">Exportar datos</button>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li *ngIf="!authService.isAuthenticated()"><a routerLink="/login" class="btn btn-outline-light">Ingresar</a></li>

        <li *ngIf="authService.isAuthenticated()" class="dropdown">
          <a class="btn btn-outline-light btn-lg dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{authService.usuario.nombre}} {{authService.usuario.apellido}}
          </a>
        
          <ul class="dropdown-menu dropdown-menu-dark">
            <button (click)="logout()" class="dropdown-item" type="submit">Cerrar sesión</button>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>