<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
    <div class="modal" tabindex="-1" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content  text-bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title fs-2">{{ titulo }}</h5>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-sm text-center my-3">
                            <img *ngIf="cliente?.foto" src="http://localhost:8085/api/uploads/img/{{cliente.foto}}"
                                alt="{{cliente.foto}}" class="img-thumbnail rounded" style="width: 250px; height: 250px;">
                        </div>
                        <div class="col-sm">
                            <ul *ngIf="cliente" class="list-group  text-center">
                                <li class="list-group-item active fs-1 p-3">{{cliente.nombre}} {{cliente.apellido}}</li>
                                <br>
                                <li class="list-group-item fs-2"
                                    [ngClass]="{'text-bg-success': cliente.estado == 1, 'text-bg-danger': cliente.estado == 2 || cliente.estado == 5, 'text-bg-warning': cliente.estado == 3, 'text-bg-info': cliente.estado == 4}">
                                    Estado: {{(cliente.estado == 1) ? 'Suscripción activa' : (cliente.estado == 2) ?
                                    'Suscripción vencida' : (cliente.estado == 3) ? 'Día de pago' : (cliente.estado ==
                                    4) ? 'Día pagado':'No se ha realizado ningún pago'}}</li>
                                <br>

                                <li class="list-group-item text-bg-dark fs-5">No. cliente: {{cliente.noCliente}}</li>
                                <li class="list-group-item text-bg-dark fs-5">{{cliente.telefono}}</li>
                                <li class="list-group-item text-bg-dark fs-5">Fecha de inscripción:
                                    {{cliente.fechaInscripcion | date:"fullDate"}}</li>
                                <li class="list-group-item text-bg-dark fs-5">Fecha de siguiente pago:
                                    {{cliente.siguientePago | date:"fullDate"}}</li>
                                <li class="list-group-item text-bg-dark fs-5">Plan: {{(cliente.costoPlan.id == 1) ?
                                    'Mensualidad 2023' : 'Mensualidad 2024'}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="fs-4 text-bg-dark text-center my-3">¿Eres tú?</div>
                <div class="modal-footer">
                    <button type="button" (click)="cerrarModal(false)" class="btn btn-lg btn-danger col-md-4 mx-auto"
                        data-bs-dismiss="modal" #boton_focus>No</button>

                    <button type="button" (click)="cerrarModal(true)" class="btn btn-lg btn-success col-md-4 mx-auto"
                        data-bs-dismiss="modal" #boton_focus>Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>